@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron funkyColor divTopMargin">
    <p class="lead text-center">This is a personal website project using the ASP.NET web framework.</p>
    <p class="text-center">Through this project I plan to improve my HTML, CSS and JavaScript skills as well as create an online portfolio.</p>
    <div>
        <div class="owl-carousel owl-theme">
            <div class="item"><h3 class="text-center"><strong>Unity Game</strong></h3><img src="~/Content/Images/UnityGame.png" /> </div>
            <div class="item"><h3 class="text-center"><strong>Personal Website</strong></h3><img src="~/Content/Images/PersonalWebsite.png" /> </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 fullLength">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn-xl js-scroll-trigger" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>