@model PersonalWebsite.Models.ProjectModel

@{
    ViewBag.Title = "Details";
}

<div>
    <br />
    @Html.DisplayFor(model => model.ProjectTitle)
    <br /><br />
    @Html.DisplayFor(model => model.ProjectDescription)
    <br /><br />
    <img class="contained" src="@Model.ProjectIcon" />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        Html.ActionLink("Edit", "Edit", new { id = Model.Id });
    }
    @Html.ActionLink("Back to List", "Index")
</p>
