.funkyColor {
  background-color: white;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #6db29d 10px, #6db29d 20px),
      repeating-linear-gradient(315deg, transparent, transparent 10px, #6db29d 10px, #6db29d 20px),
      linear-gradient(to bottom, #a19fdc, #6da1b2);
  background-size: 50px 25px;
}
.fullLength {
    width: 100%;
}
.divTopMargin {
    margin-top: 40px;
}
.closeHeader{
    margin-bottom: 5px;
}
.formMargin {
    margin-top: 10px;
}
.longTextbox {
    max-width: -webkit-fill-available;
    width: 800px;
}
div textarea.textAreaHeight {
    height: 250px;
}
body {
    margin: 0;
}
#canvas {
    position: fixed;
    z-index: -50;
}
.projectsTitleWidth {
    width: auto;
}
.projectsIconWidth {
    width: 150px;
}
.validationMsg {
    display: block;
}
.validationWarning {
    color: red;
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
form textarea, form img {
    width: 100%;
}
form textarea {
    max-width: unset;
}
.contained {
    max-width: 100%;
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color: lime;
    border: 2px solid black;
}
.owl-theme .owl-dots .owl-dot span {
    border: 2px solid black;
}
hr {
    margin-bottom: 0;
}
.jumbotron {
    margin-bottom: 0;
}
.img-thumbnail {
    margin-top: 20px;
    border-color: #7d9da9;
    background-color: transparent;
}